[server]
# username for running the daemon
username =
# hostname. set it to a FQDN in order to be reached from outside
host = 0.0.0.0
# ports
electrum_rpc_port = 8002
stratum_tcp_port = 5050
#stratum_tcp_ssl_port = 50002
#report_host =
#report_stratum_tcp_port = 50001
#report_stratum_tcp_ssl_port = 50002
password = secret
banner = Welcome to Electrum!
banner_file = /etc/electrum-lanacoin.banner
irc = yes
irc_nick = lanacoin
#ssl_certfile = /path/to/electrum-lanacoin-server.crt
#ssl_keyfile = /path/to/electrum-lanacoin-server.key
logfile = /var/log/electrum-lanacoin.log
donation_address =

# default backend is leveldb (pruning server)
backend = leveldb

[leveldb]
# path to your database
path =
# for each address, history will be pruned if it is longer than this limit
pruning_limit = 1000

[lanacoind]
lanacoind_host = localhost
lanacoind_port = 5706
# user and password from lanacoin.conf
lanacoind_user =
lanacoind_password =
